* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#board {
    width: 420px;
    height: 420px;
}

.box {
    width: 200px;
    height: 200px;
    background: blue;
    font-size: 2em;
    cursor: pointer;
    border: none;
    margin: 5px;
}

.spin {
    background: green;
    transition-duration: 2s;
}

.spin-return {
    transition-duration: 2s;
}

